<mat-card>
    <mat-card-header>
        <mat-card-title>Order Summary</mat-card-title>
        <mat-card-subtitle>You have {{shoppingCart.getTotalItems()}} items in you cart !!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table class="table">
            <tr *ngFor="let item of ObjectKeys(shoppingCart.items)">
                <td >{{shoppingCart.items[item].quantity}}</td> 
                <td >x</td>
                <td >{{shoppingCart.items[item].product.title}}</td>                
                <td >{{shoppingCart.items[item].product.price*shoppingCart.items[item].quantity}}</td>
            </tr>
            <tr>
                <td></td>
                <td>Total</td>
                <td></td>
                <td>{{shoppingCart.getTotalPrice()}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>