<h1>Shopping Cart</h1>

 <div *ngIf="(cart$ | async) as cart">
    <div *ngIf="cart.items!=null; else noitems">
        <pre><b>{{cart.getTotalItems()}} item(s) in cart</b>  <button  mat-raised-button color="warn" (click)="clearCart(cart)">Clear Shopping Cart</button></pre>
        <table class="table" >
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Product Quantity</th>
                    <th scope="col">Product Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let key of ObjectKeys(cart.items)">
                    <td><div [style.backgroundImage]="'url(' + cart.items[key].product.imageUrl + ')'" class="thumb-nail"></div></td>
                    <td>{{cart.items[key].product.title}}</td>
                    <td>{{cart.items[key].product.price | currency:'EUR'}}</td>
                    <td><product-quantity [product]="cart.items[key].product" [shopping-cart]="cart">{{cart.items[key].quantity}}</product-quantity></td>
                    <td>{{cart.items[key].product.price * cart.items[key].quantity | currency:'EUR'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td scope="col"></td>
                    <td scope="col"><b>Total</b></td>
                    <td scope="col"></td>
                    <td scope="col"><b>{{cart.getTotalPrice() | currency : 'EUR'}}</b></td>
                </tr>
            </tfoot>
        </table>
        <button mat-raised-button color="primary" 
                [routerLink]="['/checkout']"
                [queryParams]="{cartId: cartId}">Check-Out</button>

    </div>
</div>
<ng-template #noitems>
    <pre><b>0 Items in the shopping cart !!!</b></pre>
    <button routerLink="/products" mat-raised-button color="primary">Click here</button> to add products to shopping cart !!!
</ng-template>
