<button mat-button (click)="show=!show">new Product</button>
<table *ngIf="show" class="table">
    <tr>
        <td>
            <form #product="ngForm" (ngSubmit)="submitForm(product.value)" class="product-form-css">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input #title="ngModel" ngModel name="title" matInput type="text" required>
                    <mat-error *ngIf="title.invalid && title.errors.required">
                        This field is required !!!
                    </mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>Price($)</mat-label>
                    <span matPrefix>$  </span>
                    <input #price="ngModel" ngModel name="price" matInput type="number" custompricevalidator required />
                    <mat-error *ngIf="price.invalid">
                        <div  *ngIf="price.errors.required">
                            This field is required !!!
                        </div>
                        <div *ngIf="price.errors.priceInvalid">
                            Invalid Price Value!!!
                        </div>
                    </mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <select ngModel name="category" matNativeControl required>
                        <option [value]=" "></option>
                        <option *ngFor="let val of categoryList$" [value]="val.name">{{val.name}}</option>
                    </select>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>Image URL(optional)</mat-label>
                    <input #url="ngModel" ngModel name="imageUrl" matInput type="text" required urlvalidator>
                    <mat-error *ngIf="url.invalid">
                        <div  *ngIf="url.errors.required">
                            This field is required !!!
                        </div>
                        <div *ngIf="url.errors.urlInvalid">
                            Invalid URL Value!!!
                        </div>
                    </mat-error>
                </mat-form-field><br>
                <button mat-raised-button [disabled]="!product.valid" >Save</button>
            </form>
        </td>
        <td>
            <div>
                <img src="https://assets.bonappetit.com/photos/5c62e4a3e81bbf522a9579ce/master/pass/milk-bread.jpg">
            </div>
        </td>

    </tr>
</table>

